<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param> 
	    <param-name>phantomjs-reports-directory</param-name> 
	    <param-value>/tmp/</param-value>
	</context-param>
	
	<context-param> 
	    <param-name>domain-url</param-name> 
	    <!--  param-value>http://127.0.0.1:8080/</param-value -->
	    <!--  param-value>https://www.ruandunduma120.org/</param-value -->
	    <param-value>http://americalatinagenera.org:8080/</param-value>
	</context-param>	
	
	<context-param> 
	    <param-name>phantomjs-path</param-name> 
	    <!--  param-value>/phantomjs-1.9.8-windows/</param-value -->
	    <param-value>/usr/bin/phantomjs-1.9.8-linux-x86_64/</param-value>
	</context-param>	

  <description>MySQL Indica App</description>
  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/IndicaDB</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>

  
    <servlet>
    <servlet-name>ViewPDF</servlet-name>
    <servlet-class>ViewPDF</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- The mapping for the servlet -->
  <servlet-mapping>
    <servlet-name>ViewPDF</servlet-name>
    <url-pattern>/ViewPDF</url-pattern>
  </servlet-mapping>

    <servlet>
	<servlet-name>HSSFCreate</servlet-name>
    <servlet-class>org.undp.utils.HSSFCreate</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>   
  
  <servlet-mapping>
    <servlet-name>HSSFCreate</servlet-name>
    <url-pattern>/HSSFCreate</url-pattern>
  </servlet-mapping>  
  
  <!-- Establish the default MIME type mappings -->
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>

  <!-- Establish the default list of welcome files -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

<error-page>
  <error-code>500</error-code>
  <location>/default_error_page.jsp</location>
</error-page>

</web-app>
